html{
  min-height: 100%;
  background-image: url("./images/calculator-background_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
